// Index Post List

.front-page.single-page {
	margin-top: 0;
}

.front-page.single-page .entry-content > *:first-child {
	margin: 0;
}

.home-article article {
	margin-bottom: 60px;
	position: relative;
}

.home-article article:first-child .entry-category {
	margin-top: 0;
}

.home-article .entry-excerpt {
	margin-top: 15px;
}

.site-index-container {
	margin-top: 40px;
}

.blog-index {
	padding-right: 30px;
}

article.sticky:before {
	position: absolute;
	content: "";
	background: $main_color;
	height: 100%;
	width: 2px;
	z-index: 999;
	left: -7px;
}

.sticky-post {
	display: inline-block;
	transform: rotate(-90deg);
	text-transform: uppercase;
	font-weight: 600;
	font-size: $font_size_small;
	letter-spacing: $letter_spacing_bigger;
	position: absolute;
	left: -24px;
	bottom: -16px;
	transform-origin: 0 0;
	z-index: 999;
}

/* Pagination */

.pagination {
	font-size: $font_size_h4;
	font-weight: 700;
}

.pagination * {
	margin-right: 20px;
}

.pagination .current {
	border-bottom: solid 2px $main_color;
}
