.entry-title,
blockquote {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
	word-break: break-word;
	word-wrap: break-word;
}

/* Do not hyphenate entry title on tablet view and bigger. */
@include small-medium {
	.entry-title {
		-webkit-hyphens: none;
		-moz-hyphens: none;
		-ms-hyphens: none;
		hyphens: none;
	}
}

.entry-category {
	position: relative;
	margin: 20px 0 10px;
	color: #eee;
}

.entry-title {
	font-weight: 700;
}

.entry-category h6 {
	color: #eee;
}

.single .entry-category {
	margin-top: 10px;
}

.no-thumbnail .entry-category:before {
	display: none;
}

.entry-category:before {
	position: absolute;
	content: " ";
	background: $second_color;
	width: 20px;
	height: 1px;
	top: 9px;
	left: -30px;
	z-index: 1;
}

.single .entry-category:before {
	display: none;
}

.entry-category a {
	background: #fff;
	font-weight: 600;
	font-size: $font_size_h5;
	color: $second_color;
	letter-spacing: $letter_spacing;
	text-transform: uppercase;
}

.entry-excerpt {
	margin-top: 25px;
}

.main-entry-content {
	margin-top: 25px;
}

.entry-readmore {
	font-size: $font_size_h6;
	letter-spacing: $letter_spacing_small;
	font-weight: 700;
	padding-left: 5px;
}

.entry-meta {
	margin-top: 10px;
}

.entry-meta span {
	float: left;
	text-transform: uppercase;
	font-size: $font_size_small;
	letter-spacing: $letter_spacing;
}

.entry-meta span a {
	position: relative;
	display: inline-block;
	line-height: $line_height_smaller;
	padding-right: 18px;
}

.entry-meta span:first-child a:after {
	position: absolute;
	content: " ";
	background: $main_color;
	width: 2px;
	height: 2px;
	margin-left: 7px;
	top: 4px;
}

.blogmagazine-article-thumb a {
	line-height: $line_height_smaller;
}
