// Breadcrumb

.dglib-breadcrumbs-wrapper {
	font-size: $font_size_h6;
	.has-image {
		width: 100%;
		height: 200px;
		display: table;
		table-layout: fixed;
		background-size: cover;
		background-position: center center;
		.breadcrumbs {
			text-align: center;
			display: inline-block;
		}
		.dglib-bdcb-container {
			padding: 15px;
			display: table-cell;
			vertical-align: middle;
		}
	}

	.layout1 {
		padding: 0 0 5px;
		font-family: inherit;
		color: #c3c3c3;
		.dglib-bdcb-container {
			& > div {
				overflow: hidden;
			}
			.breadcrumb-trail {
				.trail-items {
					margin: 0;
					padding-left: 0;
					&:after {
						content: "";
						clear: both;
						display: block;
					}
				}
				li {
					display: block;
					float: left;
					list-style: outside none none;
					padding-right: 10px;
					&::after {
						content: "\f105";
						font-family: "FontAwesome";
						margin-left: 10px;
						font-size: $font_size_small;
						color: #aaa;
					}
					&:last-child {
						&::after {
							content: "";
						}
					}
				}
			}
		}
		a {
			color: #c3c3c3;
			&:hover {
				color: $main_color;
			}
		}
	}
}
