/* Comments */
.comments-inner-page {
	margin-top: 30px;

	ol.comment-list {
		list-style: none;
		padding-left: 0;
		margin-top: 1∂0px;

		li {
			background: #f5f5f5;
			border-radius: 3px;
			padding: 20px;

			.li-comment-box {
				display: flex;

				.comment-info-user {
					display: flex;
					flex-direction: column;
					width: 80px;

					img {
						border-radius: 50%;
						margin-bottom: 10px;
					}

					.date {
						font-size: 13px;
						color: #888888;
						text-align: center;
						letter-spacing: 0;
					}
				}

				.comment-area-box {
					width: calc(100% - 80px);
					padding-left: 25px;

					.comment-tools a {
						font-size: 12px;
					}
				}
			}
		}

		li.comment {
			margin-bottom: 10px;
		}

		>li.comment {
			margin-bottom: 20px;
		}

		>li.pingback {
			margin-bottom: 20px;
		}

		ul.children {
			margin-bottom: 20px;
		}
	}

	ul.children,
	ol.children {
		list-style: none;
	}

	.comment-text-box ul li,
	.comment-text-box ol li {
		padding: 0;
		background: transparent;
	}

	.comments ul.children {
		padding-left: 30px;
	}

	.comment-notes {
		font-size: $font_size_h6;
		margin-bottom: 0;
		opacity: 0.5;
	}

	.com-title h2 a {
		background: #f3f3f3;
		border-radius: 20px;
		font-size: $font_size_h6;
		padding: 8px 16px;
		text-transform: uppercase;
		letter-spacing: $letter_spacing_big;
	}

	.comment-form {
		margin-bottom: 40px;

		.comment-first-line {
			display: flex;
			width: 100%;
			justify-content: space-between;

			@include small {
				flex-flow: column;
			}

			.com-col {
				width: 32.3%;

				@include small {
					width: 100%;
				}

				input {
					width: 100%;
					border: 0;
					background: #f5f5f5;
					line-height: 45px;
					padding: 0 15px;
					border-radius: 3px;
				}
			}
		}

		textarea {
			margin-top: 10px;
			width: 100%;
			border: 2px solid #eee;
			height: 200px;
			padding: 10px 15px;
			resize: none;
		}

		.comment-form-cookies-consent {
			display: flex;
			margin: 0;
			font-size: $font_size_h6;
		}

		.comment-form-cookies-consent input {
			margin-right: 6px;
		}

		.comment-form-cookies-consent label {
			opacity: 0.5;
		}

		.form-submit {
			text-align: right;

			input[type="submit"] {
				background: #eee;
				font-size: $font_size_h5;
				font-weight: 600;
				color: $main_color;
				text-align: center;
				text-transform: uppercase;
				border: 0;
				padding: 12px 17px 7px 17px;
				cursor: pointer;
			}
		}
	}
}

/* Comments */
