ul,
ol {
	padding-left: 20px;
}

ul {
	list-style: square;
}

ul ul {
	list-style-type: square;
}

ol {
	list-style: decimal;
}

li {
	line-height: $line_height_big;
}

li>ul,
li>ol {
	padding-left: 20px;
}

::-moz-selection {
	background-color: #bfdcea;
}

::selection {
	background-color: #bfdcea;
}

strong {
	font-weight: 700;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1rem 1rem;
}

pre {
	padding: 20px;
	font-family: "Georgia", Courier, monospace;
	line-height: $line_height;
	overflow: auto;
	margin-bottom: 30px;
	background: rgba(0, 0, 0, 0.05);
}

// Image

img {
	height: auto;
	max-width: 100%;
	position: relative;
}

figcaption {
	font-size: $font_size_h6;
	color: $main_color;
	background: #f0f0f0;
	padding: 10px;
}

figure {
	margin: 0;
}

figure blockquote {
	margin: 0;
}

img[class*="wp-image-"],
img[class*="attachment-"],
.post img,
.post {
	max-width: 100%;
	height: auto;
}

.wp-caption {
	padding-bottom: 10px;
	max-width: 100%;
	margin-bottom: 30px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin-bottom: 10px;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
	display: block;
}

p.wp-caption-text {
	margin-bottom: 0;
	background: #f0f0f0;
	text-align: center;
	padding: 5px 6px;
	font-size: $font_size_h6;
	color: #333333;
	letter-spacing: 0.4px;
	line-height: 23px;
}

p.wp-caption-text a {
	color: #ff60a8;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin-bottom: 10px;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: 100%;
	display: block;
}

.gallery-caption,
.bypostauthor {
	opacity: 1;
}

.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

.wp-caption.aligncenter {
	margin: 0 auto;
	margin-bottom: 30px;
}

.wp-caption.alignright {
	float: right;
}

.wp-caption.alignleft {
	float: left;
	margin-right: 20px;
}

img.alignright {
	text-align: right;
	float: right;
	padding-left: 15px;
	padding-bottom: 15px;
}

img.alignleft {
	text-align: left;
	float: left;
	padding-right: 15px;
	padding-bottom: 15px;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.rsp-img-center {
	margin: 0 auto;
	text-align: center;
}

.single .gallery {
	display: flex;
	flex-flow: wrap;
}

.gallery-columns-3 figure,
.gallery-item {
	flex-basis: calc(33.3% - 10px);
	text-align: center;
	margin: 0 5px;
}

.gallery-columns-4 figure,
.gallery-item {
	flex-basis: calc(25% - 10px);
	text-align: center;
}

.gallery-columns-5 figure,
.gallery-item {
	flex-basis: calc((100% - 16px * 4) / 5);
	text-align: center;
}

.gallery-columns-6 figure,
.gallery-item {
	flex-basis: calc((100% - 16px * 5) / 6);
	text-align: center;
}

.gallery-columns-7 figure,
.gallery-item {
	flex-basis: calc((100% - 16px * 6) / 7);
	text-align: center;
}

.gallery-columns-8 figure,
.gallery-item {
	flex-basis: calc((100% - 16px * 7) / 8);
	text-align: center;
}

.gallery-columns-9 figure,
.gallery-item {
	flex-basis: calc((100% - 16px * 8) / 9);
	text-align: center;
}

// Table
table,
table.wp-block-table {
	width: 100%;
	margin-bottom: 30px;
	font-size: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

	.wp-block-table__cell-content {
		padding: 0;
	}

	& thead {
		border: 0;
		background: $main_color;
		color: #fff;
		font-size: $font_size_h5;
		font-weight: 700;
	}

	& td,
	& th {
		padding: 20px 14px;
		border-color: #fff;
	}

	& thead td,
	& thead th {
		padding: 10px 0px;
	}

	& tbody tr:nth-child(even) {
		background: #f8f8fc;
	}

	.sidebar & td,
	.sidebar & th {
		padding: 12px 9px;
	}
}

// Blockquote

blockquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-pullquote {
	position: relative;
	margin: 30px 0;
	border: 0;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-weight: 700;
	margin-bottom: 20px;
}

.wp-block-pullquote {
	padding: 0;
}

.wp-block-quote:not(.is-large):not(.is-style-large) {
	border: 0;
}

blockquote {
	min-height: 75px;
	font-size: 21px;
	line-height: $line_height;
}

blockquote p,
.wp-block-quote cite,
.wp-block-pullquote.aligncenter cite,
.wp-block-pullquote.alignleft cite {
	padding-left: 120px;
}

.wp-block-pullquote__citation,
.wp-block-pullquote cite,
.wp-block-pullquote footer {
	color: $main_color;
}

.entry-content .wp-block-pullquote.alignleft {
	float: left;
	padding: 0 40px;
	padding-left: 0;
}

.entry-content .wp-block-pullquote.alignright {
	margin-right: 0;
	float: right;
	padding: 0 40px;
	padding-right: 0;
}

blockquote cite,
.wp-block-quote cite {
	font-weight: 700;
	color: $main_color;
}

.entry-content .wp-block-pullquote {
	border-color: transparent;
	border-width: 2px;
}

.entry-content .wp-block-pullquote blockquote {
	color: $main_color;
	border: none;
	margin-right: 0;
	padding-left: 0;
}

.entry-content .wp-block-pullquote.alignleft blockquote p:first-child,
.entry-content .wp-block-pullquote.alignright blockquote p:first-child {
	margin-top: 0;
}

.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-text-color p,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-text-color a,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
	color: inherit;
}

blockquote p {
	margin-bottom: 0;
}

blockquote:before {
	position: absolute;
	font-family: "mag";
	content: "\65";
	font-size: 75px;
	color: $main_color;
	line-height: $line_height_smaller;
	top: 0;
	left: 0;
}

blockquote:after {
	position: absolute;
	font-family: "mag";
	content: "\65";
	font-size: 75px;
	line-height: $line_height_smaller;
	color: $second_color;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $second_color;
	margin-left: 4px;
	top: 4px;
	left: 0;
}

q {
	position: relative;
}

q {
	padding-left: 30px;
}

q:before {
	position: absolute;
	content: "";
	background: $main_color;
	width: 6px;
	height: 24px;
	left: 0;
	z-index: 2;
}

q:after {
	position: absolute;
	content: "";
	width: 6px;
	height: 24px;
	border: solid 1px $second_color;
	left: 3px;
	z-index: 1;
}

// Post Password

.post-password-form {
	display: flex;
	flex-flow: wrap;
	align-items: center;
}

.post-password-form label {
	margin-top: 30px;
}

input[type="submit"] {
	height: 44px;
	margin-left: 5px;
	color: #222;
	font-weight: 500;
	padding: 0 16px;
	border: none;
	background: #ddd;
}

input[type="search"],
input[type="text"] {
	height: 44px;
	border: none;
	padding: 0 12px;
	line-height: $line_height_smaller;
	background: #f0f0f0;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

select {
	border: solid 1px #eee;
	height: 40px;
}

textarea {
	box-sizing: border-box;
	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
}

form p {
	margin: 15px 0;
}
