.footer-top {
	background: #f9f9f9;
}

.footer-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 30px;
	padding: 60px 0;

	@include medium {
		grid-template-columns: 1fr 1fr;
	}

	@include small {
		grid-template-columns: 1fr;
	}

}


.pre-footer {
	border-top: solid 1px #eee;
	padding: 24px 0;
	height: 90px;
}

.pre-footer .follow-content {
	text-align: right;
}

.pre-footer .follow-content a {
	font-size: 28px;
}

.pre-footer .follow-content a {
	margin-right: 14px;
}

.vcenter {
	display: flex;
	align-items: center;
}

#footer-menu {
	text-align: center;
}

ul.footer-menu {
	list-style: none;
	display: inline-block;

	.sub-menu {
		display: none;
	}

	li {
		float: left;
		margin-right: 40px;
	}

	li:last-child {
		margin-right: 0;
	}

	ul.footer-menu li a {
		font-weight: 700;
	}

}
