/*-----------------------------------------------------------------------------------*/
/*   Global
/*-----------------------------------------------------------------------------------*/

.container {
	max-width: 1230px;
	margin: 0 auto;
}

.elementor-section.elementor-section-boxed>.elementor-container {
	max-width: 1200px !important;
}

.elementor-column-gap-default:not(.elementor-section-full_width .elementor-column-gap-default) {
	padding: 0 15px;
}

.elementor-container.elementor-column-gap-default {
	padding: 0 15px;
}

.elementor-container.elementor-column-gap-default .elementor-column-gap-default {
	margin: 0 -15px;
}

.clearfix:before {
	content: "";
	clear: both;
	display: table;
}

@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}

body {
	margin: 0;
	padding: 0;
	color: $main_color;
	font-family: $main_font;
	font-size: $font_size_h5;
	line-height: $line_height;
	font-weight: 400;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

button,
input,
select,
optgroup,
textarea {
	color: #111;
	font-family: $main_font;
	font-weight: 400;
	line-height: $line_height_big;
	text-rendering: optimizeLegibility;
}

.amc.button {
	background: #f5f5f5;
	padding: 10px 18px;
	margin: 10px 0;
	display: inline-block;
	font-weight: 500;
}

@font-face {
	font-family: "mag";
	src: url("assets/fonts/mag.eot");
	src: url("assets/fonts/mag.eot?#iefix") format("embedded-opentype"),
		url("assets/fonts/mag.woff") format("woff"),
		url("assets/fonts/mag.ttf") format("truetype"),
		url("assets/fonts/mag.svg#mag") format("svg");
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: "mag" !important;
	content: attr(data-icon);
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class^="mag-icon-"]:before,
[class*=" mag-icon-"]:before {
	font-family: "mag" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mag-icon-twitter:before {
	content: "\61";
}

.mag-icon-youtube:before {
	content: "\62";
}

.mag-icon-instagram:before {
	content: "\63";
}

.mag-icon-medium:before {
	content: "\66";
}

.mag-icon-vimeo:before {
	content: "\67";
}

.mag-icon-arrow-down:before {
	content: "\69";
}

.mag-icon-search:before {
	content: "\6a";
}

.mag-icon-up:before {
	content: "\6b";
}

.mag-icon-close:before {
	content: "\6c";
}

.mag-icon-views:before {
	content: "\6d";
}

.mag-icon-share:before {
	content: "\6e";
}

.mag-icon-arrow-right:before {
	content: "\6f";
}

.mag-icon-comment:before {
	content: "\70";
}

.mag-icon-images:before {
	content: "\72";
}

.mag-icon-play:before {
	content: "\73";
}

.mag-icon-pinterest:before {
	content: "\76";
}

.mag-icon-mag-23:before {
	content: "\78";
}

.mag-icon-quote:before {
	content: "\79";
}

.mag-icon-arrow-left:before {
	content: "\41";
}

.mag-icon-keyboard:before {
	content: "\42";
}

.mag-icon-linkedin:before {
	content: "\45";
}

.mag-icon-facebook-brands:before {
	content: "\64";
}

.mag-icon-quote-1:before {
	content: "\65";
}

.mag-icon-mag:before {
	content: "\71";
}

.mag-icon-arrow-right-1:before {
	content: "\74";
}

.mag-icon-trending:before {
	content: "\75";
}

.mag-icon-newspaper:before {
	content: "\68";
}

.mag-icon-browse:before {
	content: "\77";
}
