/*-----------------------------------------------------------------------------------*/
/*   Header
/*-----------------------------------------------------------------------------------*/

.header-top {
	position: relative;
	display: flex;
	width: 100%;
	// height: 70px;
	background: #fff;
	align-items: center;
	min-height: 75px;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08);
	justify-content: space-evenly;

	&.header-big {
		height: 100px;
		.header-left-big {
			width: calc((100% - 200px) / 2);
			display: flex;
			padding-left: 30px;

			.social {
				position: relative;
				margin-right: 20px;
			}

			.social:after {
				content: "";
				position: absolute;
				width: 1px;
				height: 20px;
				top: 0;
				right: 0;
				background: #d4d4d4;
			}

			.social a {
				position: relative;
				top: 1px;
				font-size: 16px;
				color: $main_color;
				margin-right: 10px;
			}

			.social a:last-child {
				margin-right: 20px;
			}

			span {
				position: relative;
				top: -1px;
				font-size: 13px;
				line-height: 1.77;
				letter-spacing: 0.5px;
				color: #444444;
			}
		}

		.header-left {
			width: 200px;
			flex-grow: 2;
			padding: 0;
			text-align: center;
		}

		.header-right {
			width: calc((100% - 200px) / 2);
		}
	}

	.header-left {
		padding-left: 30px;
		padding-right: 50px;
	}

	.header-right {
		padding-right: 30px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	@include small-medium {
		.header-center {
			display: none;
		}
	}
}

.header-follow {
	font-weight: 600;
	position: relative;
	padding-right: 25px;

	.follow-link {
		display: inline-block;
	}

	.follow-link a {
		font-size: $font_size_h6;
		display: inline-block;
	}
	.follow-link:hover a {
		color: #999;
	}

	.follow-content.show {
		visibility: visible;
		transform: translateY(0px);
		transition: 0.2s;
	}

	.follow-content {
		position: absolute;
		right: 0;
		visibility: hidden;
		background: $main_color;
		padding: 20px 30px;
		display: flex;
		transition: 0.15s;
		transform: translateY(5px);
		z-index: 99999;
	}

	.follow-content a {
		padding: 0 20px;
		font-size: $font_size_h4;
		color: #fff;
		i {
			transition: color 0.3s;
			color: #fff;
		}
		& i:hover {
			color: $second_color;
		}
	}

	.follow-content a:after {
		position: absolute;
		content: " ";
		background: rgba(255, 255, 255, 0.3);
		height: 25px;
		width: 1px;
		margin-left: 20px;
		transform: rotate(23deg);
	}

	.follow-content a:last-child:after {
		display: none;
	}
	.follow-content a:first-child {
		padding-left: 0;
	}

	.follow-content a:last-child {
		padding: 0;
		padding-left: 20px;
	}
}

.layout2-menu-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 50px;
	background: #f5f5f5;
}

.logo-center {
	.header-left {
		padding: 0;
		width: 200px;
		text-align: center;
	}

	.header-center {
		order: -1;
		padding-left: 30px;
		width: calc((100% - 200px) / 2);
	}

	.header-right {
		width: calc((100% - 200px) / 2);
	}
}

.search-wrapper {
	display: flex;
	align-items: center;
	position: relative;
	margin-right: 25px;

	&:after {
		content: "";
		width: 0;
		height: 1px;
		background: #000;
		position: absolute;
		bottom: -1px;
		left: 0;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	a i {
		color: #111;
		font-size: 15px;
		position: relative;
		top: 2px;
	}

	input {
		border: 0;
		width: 0;
		color: #000;
		background: transparent;
		font-size: 13px;
		line-height: normal;
		letter-spacing: 0.5px;
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;

		&::placeholder {
			color: #fff;
		}
		&:focus::placeholder {
			color: #444;
		}
	}

	&.open input {
		width: 155px;
		position: relative;
	}

	&.open:after {
		content: "";
		transition-delay: 0.27s;
		width: 87%;
	}
}

.fancy-sidebar-button {
	width: 20px;
	height: 9px;

	span {
		display: block;
		width: 100%;
		height: 2px;
		background: #000;

		&:nth-child(2) {
			margin-top: 5px;
		}
	}
}

.sf-menu li {
	position: relative;
}

.sf-menu li:hover {
	z-index: 99999;
}

#main-menu ul.sf-menu > li {
	display: inline-block !important;
}

#navmain > li.menu-item-has-children > a:after,
#mega-menu-main-menu > li.mega-menu-item-has-children > a:after {
	content: "\69";
	font-family: "mag";
	text-transform: none;
	font-size: 9px;
	color: $main_color;
	position: absolute;
	top: 6px;
	right: 10px;
}

#navmain
	> li.menu-item-has-children
	ul.sub-menu
	li.menu-item-has-children
	> a:after,
#mega-menu-main-menu
	> li.mega-menu-item-has-children
	ul.mega-sub-menu
	li.mega-menu-item-has-children
	> a:after {
	content: "\6f";
	font-family: "mag";
	text-transform: none;
	font-size: 9px;
	color: $main_color;
	position: absolute;
	top: 13px;
	right: 10px;
}

#navmain li.menu-item-has-children > a,
#mega-menu-main-menu li.mega-menu-item-has-children > a {
	padding-right: 25px;
}

#navmain > li.menu-item ul.sub-menu ul,
#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	> li.mega-menu-flyout
	ul.mega-sub-menu
	ul {
	top: -10px;
	left: 100% !important;
}

#navmain li.menu-item > ul.sub-menu,
#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	li.mega-menu-item
	> ul.mega-sub-menu {
	visibility: hidden;
}

#navmain > li.menu-item > ul.sub-menu,
#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	> li.mega-menu-megamenu
	> ul.mega-sub-menu {
	z-index: 9999;
	background: $main_color;
	position: absolute;
	width: 100%;
	left: 0;
	top: 100%;
	padding: 30px 0;
}

#navmain > li.menu-item ul.sub-menu,
#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	> li.mega-menu-flyout
	ul.mega-sub-menu {
	z-index: 9999;
	position: absolute;
	width: 100%;
	left: 0;
	top: 40px;
	background: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	padding: 20px 0;

	li {
		font-size: 13px;
		font-weight: 700;
		color: #000000;
		letter-spacing: 0;
		padding: 0;

		&:hover {
			background: #f0f0f0;
			transition: all 0.3s ease;
		}

		a {
			display: inline-block;
			padding: 12px 30px 10px 30px;
			width: 100%;
		}
	}

	ul.sub-menu:before,
	ul.mega-sub-menu:before {
		content: "";
		width: 100%;
		height: 4px;
		background: #ffdd5c;
		position: absolute;
		top: 0;
	}
}

.sub-menu {
	margin: 0 !important;
	width: auto !important;
	min-width: 150px;
	left: 0 !important;
	white-space: nowrap;
	text-align: left;
}

// Mega Menu

#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	> li.mega-menu-flyout
	ul.mega-sub-menu
	li:hover {
	background: #f0f0f0;
}

.mega-menu-flyout .mega-sub-menu {
	margin: 0 !important;
	width: auto !important;
	min-width: 150px;
	left: 0 !important;
	white-space: nowrap;
	text-align: left;
}

#mega-menu-wrap-main-menu ul.mega-menu > li {
	display: inline-block !important;
}

#mega-menu-wrap-main-menu
	#mega-menu-main-menu
	> li.mega-menu-megamenu.mega-menu-item {
	position: static;
}

.amc-menu-close {
	opacity: 0;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transform: translate3d(0, 17px, 0);
	-webkit-transform: translate3d(0, 17px, 0);
	-moz-transform: translate3d(0, 17px, 0);
	visibility: hidden;
}

.amc-menu-open {
	opacity: 1;
	transform: translate3d(0, -1px, 0);
	-webkit-transform: translate3d(0, -1px, 0);
	-moz-transform: translate3d(0, -1px, 0);
	visibility: visible !important;
}

/* Mega Menu */

/* Mega Menu amc */
nav#main-menu ul li a {
	font-weight: 600;
	font-size: $font_size_h6;
	color: $main_color;
	padding: 5px 15px 2px 15px;
	transition: all 0.3s ease;
}

.layout2-menu-bar nav#main-menu ul li a {
	font-size: 14px;
	font-weight: 600;
	line-height: 1.21;
	letter-spacing: 0.6px;
	color: #222222;
}

nav#main-menu ul li ul li {
	line-height: 1;
	position: relative;
}

/* Mega Menu */

.mobile-menu-box {
	position: fixed;
	width: 100%;
	height: 100vh;
	z-index: 99999;
	overflow-y: auto;
	visibility: visible;
	-webkit-transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	-webkit-transform: translate3d(-105%, 0, 0);
	transform: translate3d(-105%, 0, 0);
	will-change: transform;
	/* Edit Under Lines */
	background: linear-gradient(to right, #3494e6, #ec6ead);

	&.open {
		visibility: visible;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.mobile-header {
	display: none;
	position: relative;
	background: #fff;
	height: 65px;
	line-height: 65px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
}

.mobile-menu-button {
	display: none;
	position: absolute;
	right: 20px;
	top: 25px;
	z-index: 99999999;

	.mobile-menu-icon-wrapper {
		display: block;
		width: 25px !important;
		height: 25px !important;
		position: relative;
		margin: 0px auto;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: 0.3s ease-in-out;
		-moz-transition: 0.3s ease-in-out;
		-o-transition: 0.3s ease-in-out;
		transition: 0.3s ease-in-out;
		cursor: pointer;

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: #000;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.3s ease-in-out;
			-moz-transition: 0.3s ease-in-out;
			-o-transition: 0.3s ease-in-out;
			transition: 0.3s ease-in-out;

			&:nth-child(1) {
				top: 0;
			}
			&:nth-child(2),
			&:nth-child(3) {
				top: 5px;
			}
			&:nth-child(4) {
				top: 10px;
			}
		}
		&.open span:nth-child(1) {
			top: 8px;
			width: 0%;
			left: 50%;
		}
		&.open span:nth-child(2) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}
		&.open span:nth-child(3) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}
		&.open span:nth-child(4) {
			top: 8px;
			width: 0%;
			left: 50%;
		}
	}
}

@include small-medium {
	.header-container {
		padding: 0 20px;
	}
}

/* Header Left */

.header-left {
	display: flex;
	align-items: center;
	flex-basis: 250px;
}

/* Logo */

@include small {
	.site-logo img {
		max-width: 110px;
	}
}

/* Top Navigation */

.main-nav {
	padding-left: 10%;
	width: 100%;
}

@include small-medium {
	.main-nav {
		display: none;
	}
}

.top-navigation ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.top-navigation ul li {
	padding-right: 35px;
}

.top-navigation ul li a {
	font-weight: 600;
	font-size: $font_size_h6;
}

/* Nav */

.responsive-toggle {
	display: none;
}

@include small-medium {
	.responsive-toggle {
		display: inline-block;
		padding-left: 35px;
	}
}

.mobile-navigation {
	width: 100%;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	min-height: 100vh;
	background: $main_color;
	padding: 50px 0;
	text-align: center;
}

.logged-in .mobile-navigation {
	top: 32px;
}

.responsive-close {
	display: inline-block;
	margin-bottom: 30px;
}

.mobile-navigation svg {
	cursor: pointer;
}

.mobile-navigation.hide {
	display: none;
}

.mobile-navigation.show {
	display: block;
	z-index: 9999;
}

.mobile-navigation ul li {
	margin-bottom: 20px;
}

.mobile-navigation ul li a {
	font-size: $font_size_h2;
	font-style: italic;
	font-weight: 700;
	color: #fff;
}

.mobile-navigation ul li ul li {
	margin-top: 10px;
	margin-bottom: 10px;
}

.mobile-navigation ul li ul li a {
	font-size: $font_size_h4;
	opacity: 0.6;
}

.mobile-navigation ul li ul li ul li a {
	font-size: $font_size_h5;
}

.mobile-navigation ul li ul li:last-child {
	margin-bottom: 20px;
}

.mobile-search-box {
	margin-bottom: 30px;
}

.mobile-search-box input {
	border: solid 1px rgba(255, 255, 255, 0.15);
	height: 40px;
	width: 300px;
	padding: 20px;
	border-radius: 0;
	background: transparent;
	font-size: $font_size_h5;
	color: #fff;
}

/* Header Right */

.header-right {
	display: flex;
	justify-content: flex-end;
	flex: 1;
	position: relative;
}

.header-search {
	padding-left: 35px;
	cursor: pointer;
}

.search-box {
	visibility: hidden;
	position: absolute;
	right: 40px;
}

.search-box input {
	border: 0;
	background: transparent;
	font-weight: 600;
	font-size: $font_size_h6;
	color: $main_color;
}

.search-box ::placeholder {
	font-weight: 600;
	font-size: $font_size_h6;
	color: $main_color;
}

.search-box.search-open {
	visibility: visible;
}

.header-search .close-icon {
	display: none;
}

.header-search .search-icon svg {
	position: relative;
	top: 4px;
	left: 4px;
}

/* Branding */

h2.site-title {
	font-weight: 700;
	letter-spacing: $letter_spacing_smaller;
	font-style: italic;
}

.site-description {
	font-size: $font_size_h6;
}

.skip-link {
	position: absolute;
	top: 0;
	z-index: 9999;
	right: 100%;
	padding: 5px;
	padding: 0.5rem;
	font-size: $font_size_h3;
	color: $main_color;
	background: #fff;
}

.admin-bar .skip-link {
	top: 32px;
}

.skip-link:focus {
	right: auto;
}

/* SF Menu */

/*** ESSENTIAL STYLES ***/
.sf-menu,
.sf-menu * {
	margin: 0;
	padding: 0;
	list-style: none;
}
.sf-menu li {
	position: relative;
	padding: 10px 0;
}
.sf-menu ul {
	position: absolute;
	display: none;
	top: 100%;
	left: 0;
	z-index: 99;
}
.sf-menu > li {
	float: left;
}
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul {
	display: block;
}

.sf-menu a {
	display: block;
	position: relative;
}
.sf-menu ul ul {
	top: 0;
	left: 100%;
}

.sf-menu ul {
	// background: #111;
	min-width: 12em; /* allow long menu items to determine submenu width */
	*width: 12em; /* no auto sub width for IE7, see white-space comment below */
	padding: 25px;
	max-height: 330px;
}

.sf-menu ul li a {
	color: #fff;
}

.sf-menu a {
	text-decoration: none;
	zoom: 1; /* IE7 */
}

/*
 * Core styles for PriorityNav.js
 * These styles are not optional and should always be included
 *
 * Free to use under the MIT License.
 * http://twitter.com/GijsRoge
 */

.priority-nav {
	white-space: nowrap; // prevent flash of unstyled content

	/*
    * Makes sure the menu's are inline-block so they don't take up
    * the entire width of its parent. This will break the plugin.
    */
	> ul {
		display: inline-block;
		> li {
			display: inline-block;
		}
	}
	&-has-dropdown {
		.priority-nav {
			&__dropdown {
				&-toggle {
					position: relative;
				}
			}
		}
	}
	&__wrapper {
		position: relative;
	}
	&__dropdown {
		position: absolute;
		visibility: hidden;
		&.show {
			visibility: visible;
		}
		&-toggle {
			visibility: hidden;
			position: absolute;
		}
	}
	&-is-visible {
		visibility: visible;
	}
	&-is-hidden {
		visibility: hidden;
	}
}
