.error-page {
	display: flex;
	align-items: center;
	padding: 20vmin;

	&>div {
		flex: 1;
	}

	@include small {
		flex-flow: column;
	}

	h1 {
		font-size: 15vmin;

		@include small {
			padding: 30px;
		}

	}

	.error-text {
		@include small {
			text-align: center;
			display: flex;
			flex-flow: column;
			justify-content: center;
		}

		p {
			margin: 15px 0;
		}

		.button {
			@include small {
				display: inline-flex;
				align-self: flex-start;
				margin: 0 auto 30px;
			}
		}

	}

}
