// Slider Shortcode

.full-screen-slider-wrapper {
	position: relative;
	text-align: center;
}

.full-screen-slider-wrapper .slider-slide:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	min-height: 236px;
	width: 100%;
	background-image: linear-gradient(180deg,
			rgba(49, 66, 87, 0) 0%,
			#000000 100%);
}

.full-screen-slider .slider-slide {
	position: relative;
	height: calc(100vh - 30px) !important;

	@include small {
		min-height: 400px;
		height: unset !important;
	}
}

.entry-meta {
	display: inline-block;
	justify-content: center;
}

.slide-content {
	position: absolute;
	bottom: 100px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;

	@include small-medium {
		width: 80%;
		bottom: 80px;
	}

	z-index: 999;

	@include small {
		bottom: 40px;
	}
}

.slide-content .entry-meta {
	display: flex;
	align-items: center;
}

.slide-content .entry-meta .post-cat .post-categories-link {
	position: relative;
	font-size: $font_size_h4;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: $letter_spacing_big;
	text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

	&:hover {
		text-decoration: underline !important;
	}
}

.slide-content .entry-meta span {
	position: relative;
	font-weight: 600;
}

.slide-content .entry-meta span:first-child:after {
	content: "";
	position: absolute;
	width: 15px;
	height: 1px;
	background: #fff;
	top: 50%;
	margin-top: -1px;
}

.slide-content .entry-meta span:first-child a:after {
	display: none;
}

.slide-content .entry-meta span:first-child {
	padding-right: 30px;
}

.slide-content .entry-meta span:last-child {
	padding-right: 0;
}

.slide-content .entry-meta .post-date {
	font-size: $font_size_small;
	color: #ffffff;
}

.slide-content .entry-meta span {
	padding-right: 45px;
}

.slide-content .post-title h2 a {
	font-style: italic;
	font-size: 48px;
	line-height: $line_height_small;
	display: inline-block;
	margin-top: 12px;
	color: #ffffff;
	letter-spacing: $letter_spacing_smaller;
	text-shadow: 1px 2px 2px rgba(22, 31, 44, 0.7);
	transition: all 0.6s ease;

	@include small-medium {
		font-size: 32px;
	}

	@include small {
		font-size: 26px;
	}
}

.slide-content .post-title h2 a:hover {
	text-decoration: underline !important;
}

.slick-dots {
	bottom: 60px;
	z-index: 99;

	@include small-medium {
		bottom: 30px;
	}

	@include small {
		display: none !important;
	}
}

.slick-dots li {
	width: 37px;
	margin-right: 8px;
}

.entry-content ul.slick-dots li {
	margin-bottom: 0;
}

.slick-dots li button:before {
	content: "";
	width: 37px;
	height: 2px;
	opacity: 2;
	background: rgba($color: #fff, $alpha: 0.5);
}

.slick-dots li.slick-active button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 1px;
	height: 2px;
	background: $second_color;
	z-index: 999;
}

.slick-dots li.slick-active button:after {
	animation: animationFrames linear 6s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	transform-origin: 0 center;
}

@keyframes animationFrames {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scaleX(37);
	}
}

.full-screen-slider-wrapper .next-post-title {
	position: absolute;
	bottom: 35px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;

	@include small-medium {
		display: none !important;
	}
}

.full-screen-slider-wrapper .next-post-title {
	cursor: pointer;
	color: #fff;
	font-size: $font_size_h6;
	opacity: 0.8;
	letter-spacing: $letter_spacing;
	padding-top: 45px;
	z-index: 99999;
}

.slick-dotted.slick-slider {
	margin-bottom: 0;
}

.slick-slide>div {
	line-height: 0;
}

// Title On Image Shortcode

.block-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;

	@include small-medium {
		padding: 0 30px;
	}
}

.block-title.t-center {
	flex-flow: column;
}

.block-title-with-icon {
	display: flex;
	align-items: center;
}

.block-title-with-icon i {
	font-size: 21px;
	padding-right: 12px;
	color: $main_color;
	line-height: 1;
}

.dark .block-title-with-icon i {
	color: #fff;
}

.block-title.t-center .all-post {
	margin-top: 20px;
}

.block-title .all-post a {
	display: inline-block;
	position: relative;
	font-size: $font_size_h6;
	color: $main_color;
	letter-spacing: $letter_spacing;
	font-weight: 500;
	border: solid 1px $main_color;
	padding: 5px 16px 3px;
	position: relative;
	border-radius: 4px;
}

.block-title .all-post a:after {
	position: absolute;
	content: "\74";
	font-family: "mag";
	font-size: 7px;
	right: 4px;
	top: 4px;
}

.block-title.dark .all-post a {
	color: #fff;
	border-color: #fff;
}

.block-title h2 {
	font-size: $font_size_h1;
	color: $main_color;
	letter-spacing: $letter_spacing_smaller;
}

.block-title.dark h2 {
	color: #fff;
}

.title-on-image-wrapper {
	display: flex;
	flex-flow: wrap;
}

.title-on-image-wrapper .title-on-image {
	width: calc(100% / 3 - 20px);
	margin-bottom: 30px;

	@include small-medium {
		width: calc(100% / 2 - 15px) !important;
	}

	@include small {
		width: 100% !important;
		margin-right: 0 !important;
	}
}

.title-on-image-wrapper .title-on-image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.title-on-image-wrapper .title-on-image:nth-child(even) {
	@include small-medium {
		margin-right: 0 !important;
	}

	@include small {
		margin-right: 0 !important;
	}
}

.title-on-image-wrapper .title-on-image:nth-child(2n + 1) {
	@include small-medium {
		margin-right: 30px !important;
	}

	@include small {
		margin-right: 0 !important;
	}
}

.title-on-image {
	position: relative;
	background: $main_color;
	overflow: hidden;
}

.title-on-image a img {
	min-width: 100%;
	min-height: 100%;
	transition: all 0.6s ease !important;

	@include small-medium {
		height: auto;
	}
}

.title-on-image:hover img {
	transform: scale(1.1);
}

.title-on-image-text-wrapper {
	position: absolute;
	bottom: 15px;
	left: 25px;
	padding-right: 20px;
}

.title-on-image:nth-child(1) .title-on-image-text-wrapper,
.title-on-image:nth-child(2) .title-on-image-text-wrapper {
	bottom: 20px;
	left: 30px;
}

.title-on-image-wrapper .title-on-image:nth-child(1),
.title-on-image-wrapper .title-on-image:nth-child(2) {
	width: calc(100% / 2 - 15px);
	height: 445px;

	@include small-medium {
		height: auto;
	}
}

.title-on-image-wrapper .title-on-image {
	margin-right: 30px;
	min-height: 100px;
}

.title-on-image-wrapper .title-on-image:nth-child(3n + 2) {
	margin-right: 0;
}

.title-on-image h3 a {
	font-size: $font_size_h4;
	line-height: 32px;
	font-style: italic;
	color: #ffffff;
	letter-spacing: -0.83px;
}

.title-on-image:nth-child(1) h3 a,
.title-on-image:nth-child(2) h3 a {
	font-size: 24px;
	line-height: 42px;
}

.title-on-image h3>a>span {
	background: $main_color;
	box-shadow: -10px 0px 0 $main_color, 10px 0px 0 $main_color;
	-webkit-box-shadow: -10px 0px 0 $main_color, 10px 0px 0 $main_color;
	-moz-box-shadow: -10px 0px 0 $main_color, 10px 0px 0 $main_color;
	padding: 2px;
}

.title-on-image .entry-meta {
	margin-bottom: -5px;
	margin-left: -10px;
}

.title-on-image .entry-meta>span {
	background: #fff;
	margin-right: 2px;
	padding: 6px 6px 3px;
}

.title-on-image .entry-meta span a {
	padding-right: 0;
}

.title-on-image .entry-meta span:first-child a:after {
	display: none;
}

// Grid With Featured Image

.grid-with-featured-image-wrapper {
	display: flex;
	flex-flow: wrap;
	margin-left: -15px;
	margin-right: -15px;
}

.grid-posts.big {
	flex-basis: calc(66.6% - 30px);
	min-height: 490px;
	overflow: hidden;

	@include small-medium {
		flex-basis: calc(50% - 30px);
		min-height: 200px;
	}

	@include small {
		flex-basis: 100%;
		margin-right: 15px;
	}
}


.grid-example {
	display: grid;
	// grid-template: 90px 50px / repeat(2, 100px) auto;
	grid-template: auto / 100px 100px 100px;
	// grid-auto-rows: 200px;
	grid-gap: 3px;
	grid-auto-flow: row;
}

.mol:nth-child(5) {
	// grid-column: span 2;
	grid-column: 2 / 4;
	grid-row: 1 / 5;
	// grid-row: span 3;
}

.grid-example>div {
	background: khaki;
	border: solid 1px orange;
	padding: 16px;
}

.morel {
	display: grid;
	grid-template-areas:
		"header		header 		header"
		"sidebar	content		content"
		"newsletter	newsletter	newsletter"
		"footer		footer		footer";
	font-size: 13px;
	font-weight: 700;
	text-align: center;
}

.morel>div:first-child {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: header;
}

.morel>div:nth-child(2) {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: sidebar;
}

.morel>div:nth-child(3) {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: content;
}

.morel>div:nth-child(4) {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: newsletter;
}

.morel>div:nth-child(5) {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: footer;
}

.morel>div:nth-child(3) {
	background: palegoldenrod;
	border: solid 2px #000000;
	grid-area: content;
}

.grid-posts.big img {
	transition: all 0.6s ease !important;
	height: 100%;
	object-fit: cover;
}

.grid-posts.big:hover img {
	transform: scale(1.15);
}

.grid-posts {
	flex-basis: calc(33.3% - 30px);
	border-radius: 5px;
	position: relative;
	background: #fff;
	margin: 0 15px 40px;

	@include small-medium {
		flex-basis: calc(50% - 30px);
	}

	@include small {
		flex-basis: 100%;
		margin-right: 15px;
	}
}

.grid-posts.big:after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0;
	min-height: 236px;
	width: 100%;
	background-image: -webkit-gradient(linear,
			left top,
			left bottom,
			from(rgba(49, 66, 87, 0)),
			to(#000000));
	background-image: linear-gradient(180deg,
			rgba(49, 66, 87, 0) 0%,
			#000000 100%);
}

.grid-posts.big .grid-posts-content {
	position: absolute;
	z-index: 999;
	bottom: 0;
}

.grid-posts .grid-posts-content h2 {
	line-height: $line_height_small;
}

.grid-posts.big .grid-posts-content h2 {
	margin-bottom: 10px;
}

.grid-posts.regular .grid-posts-content h2 {
	margin-bottom: 20px;

	@include small {
		margin-bottom: 10px;
	}
}

.grid-posts.big .grid-posts-content h2 a {
	color: #fff;
	font-size: 36px;
	letter-spacing: $letter_spacing_small;
	line-height: $line_height_small;

	@include small-medium {
		font-size: 26px;
	}

	@include small {
		font-size: 21px;
		line-height: $line_height_smaller;
	}
}

.grid-posts .grid-posts-content h2 a {
	font-size: 24px;

	@include small {
		font-size: 21px;
		line-height: $line_height_smaller;
	}
}

.grid-posts .grid-posts-content {
	padding: 10px 20px;
}

.grid-posts.regular .grid-posts-content .entry-meta {
	position: absolute;
	bottom: 15px;
}

.grid-posts.big .grid-posts-content .entry-meta a,
.grid-posts.big .grid-posts-content .entry-meta {
	color: #fff;
}

.grid-posts.big .grid-posts-content .entry-meta a:after {
	background: #fff;
}

.grid-posts .entry-category {
	margin-top: 0;
}

.grid-posts .entry-category a {
	font-size: 11px;
	font-weight: 500;
}

.grid-posts .entry-category:before {
	left: -21px;
	width: 11px;
	top: 10px;
}

.grid-posts .entry-excerpt {
	margin-bottom: 20px;
	padding-bottom: 30px;
}

// Grid No Padding

.grid-no-padding-wrapper {
	display: flex;
	flex-flow: wrap;
}

.grid-no-padding-wrapper .grid-no-padding {
	@include small-medium {
		flex-basis: 50%;
		margin-bottom: 40px;
	}

	@include small {
		flex-basis: 100%;
	}
}

.grid-no-padding {
	flex: 1;
}

.grid-no-padding>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.grid-no-padding-content {
	display: flex;
	align-items: center;
	margin-top: 15px;
	transition: all 0.4s ease;
}

.grid-number p {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $main_color;
	font-size: 40px;
	font-weight: 700;
	padding-right: 16px;
	color: transparent;
	transition: all 0.4s ease;
	color: transparent;
}

.dark .grid-number p {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #fff;
}

.grid-no-padding-content:hover .grid-number p {
	color: $second_color;
	-webkit-text-fill-color: none;
}

.grid-no-padding-content h2 {
	font-size: $font_size_h5;
	padding-right: 15px;
	letter-spacing: 0;
}

.dark .grid-no-padding-content h2 a {
	color: #fff;
}

.grid-no-padding-content h2 a {
	color: $main_color;
}

.grid-no-padding-content h2 a:hover {
	color: $second_color;
}

// Classic List

.classic-list-wrapper article {
	margin-bottom: 60px;
}

// Featured Post

.modern-list-image img {
	width: 100%;
	padding: 0;
}

.elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
	padding: 0 !important;
}

.modern-list-content {
	position: relative;
	z-index: 999999;
	width: 700px;
	left: 50%;
	transform: translate(-50%, -60px);
	text-align: center;

	@include small-medium {
		width: 90%;
	}
}

.modern-list-content:before {
	content: "";
	position: absolute;
	top: 0;
	border: solid 2px #fff;
	border-bottom: 0;
	height: 70px;
	width: 500px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;

	@include small-medium {
		width: 90%;
	}
}

.modern-list-content:after {
	content: "";
	position: absolute;
	bottom: 20px;
	border: solid 2px #fff;
	border-top: 0;
	height: 45px;
	width: 500px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;

	@include small-medium {
		width: 90%;
	}
}

.modern-list-categories {
	background: $second_color;
	display: inline-block;
	padding: 8px 14px;
	margin: 40px 0 20px;
}

.modern-list-categories a {
	font-size: 13px;
	color: #ffffff;
	letter-spacing: 0.35px;
}

.modern-list-content h2 a {
	font-size: 55px;
	color: #ffffff;
	letter-spacing: -0.92px;
	text-align: center;
	line-height: 65px;

	&:hover {
		text-decoration: underline !important;
	}

	@include small-medium {
		font-size: 36px;
		line-height: 1.3;
	}

	@include small {
		font-size: 24px;
		line-height: 1.3;
	}
}

.modern-list-content .author {
	margin: 30px 0 50px;
	display: inline-block;
}

.modern-list-content .author a {
	font-size: 13px;
	color: #ffffff;
	letter-spacing: 1.5px;
	font-weight: 400;
	text-transform: uppercase;
}

.projects {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.project {
	flex-basis: calc(50% - 5px);
	box-sizing: border-box;
}

.project:nth-child(odd) {
	margin-right: 10px;
	background-color: red;
}

.project:nth-child(even) {
	background-color: blue;
}
