.amc-widget {

	input[type="text"],
	input[type="search"] {
		position: relative;
		height: 48px;
		width: 100%;
		border: 2px solid #000;
		background: transparent;
		padding: 0 10px;
	}

	#searchform {
		position: relative;

		&:after {
			content: "\6a";
			font-family: "mag";
			position: absolute;
			right: 12px;
			font-size: 18px;
			top: 13px;
			color: #111;
		}
	}

	input[type="submit"] {
		display: none;
	}
}

.amc-widget .screen-reader-text,
.footer-widget .screen-reader-text {
	display: none;
}

.amc-widget {
	margin-top: 60px;

	&:first-child {
		margin-top: 0;
	}

	h5 {
		padding-bottom: 10px;
		margin-bottom: 15px;
		border-bottom: solid 2px #f0f0f0;
	}
}

aside .amc-widget {
	margin-bottom: 40px;
}

.amc-widget:first-child h4 {
	margin-top: 0;
}

aside .amc-widget h4 {
	margin: 20px 0;
	position: relative;
	padding-bottom: 10px;
}

aside .amc-widget h4:before {
	position: absolute;
	content: " ";
	background: #ddd;
	width: 100%;
	height: 1px;
	bottom: 0;
	z-index: 1;
}

.amc-widget select {
	width: 100%;
}

.amc-widget table td,
.amc-widget table th {
	padding: 5px 8px;
	font-size: $font_size_small;
	text-align: center;
}

.amc-widget table td a {
	font-weight: 700;
}

.amc-widget table tfoot td,
.amc-widget table tfoot th {
	text-align: left;
}

.amc-widget table tfoot td#next {
	text-align: right;
}

.amc-widget table thead {
	background: transparent;
	color: $main_color;
}

.amc-widget table caption {
	margin-bottom: 10px;
	text-align: left;
}

.amc-widget .search-form .screen-reader-text {
	display: none;
}

.amc-widget .screen-reader-text {
	display: none;
}

.search-form {
	position: relative;
}

input[type="search"].search-field {
	-webkit-appearance: none;
	margin: 0;
	padding-right: 42px;
	width: 100%;
	padding: 15px 14px 10px;
	border: solid 1px #ddd;
}

input[type="search"].search-field::placeholder {
	font-size: $font_size_h5;
	vertical-align: middle;
}

.search-submit {
	border: none;
	border-radius: 0;
	bottom: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 42px;
}

.search-submit svg {
	margin-top: 6px;
}

.search-submit svg circle {
	stroke: #fff;
}

.search-submit svg rect {
	fill: #fff;
}

.amc-widget table {
	box-shadow: none;
	border: solid 1px #eee;
}

.amc-widget_categories,
.amc-widget_product_categories,
.amc-widget_archive {
	color: #c3c3c3;
}

.amc-widget_categories ul,
.amc-widget_product_categories ul,
.amc-widget_archive ul {
	padding-left: 0;
}

.amc-widget_categories select,
.amc-widget_product_categories select,
.amc-widget_archive select {
	width: 100%;
}

.amc-widget_categories ul,
.amc-widget_product_categories ul,
.amc-widget_archive ul {
	margin-top: -12px;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.amc-widget_categories li,
.amc-widget_product_categories li,
.amc-widget_archive li {
	display: flex;
	flex-wrap: wrap;
	padding: 12px 0;
	border-bottom: 1px solid #ebebeb;
	font-size: $font_size_h6;
	line-height: 1.8;
}

.amc-widget_categories li:only-child,
.amc-widget_product_categories li:only-child,
.amc-widget_archive li:only-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.amc-widget_categories a,
.amc-widget_product_categories a,
.amc-widget_archive a {
	margin-right: auto;
	font-size: $font_size_h6;
	line-height: 1.7;
	-webkit-font-smoothing: antialiased;
}

.amc-widget_categories a:hover,
.amc-widget_product_categories a:hover,
.amc-widget_archive a:hover {
	opacity: 0.85;
}

.amc-widget_categories a:before,
.amc-widget_product_categories a:before,
.amc-widget_archive a:before {
	content: "";
	float: left;
	margin-top: 6px;
	margin-right: 12px;
	width: 6px;
	height: 6px;
	border: 1px solid $second_color;
	border-radius: 50%;
	box-sizing: border-box;
}

.amc-widget_categories .children,
.amc-widget_product_categories .children,
.amc-widget_archive .children {
	margin-top: 12px;
	border-top: 1px solid #ebebeb;
}

.amc-widget_categories .children li,
.amc-widget_product_categories .children li,
.amc-widget_archive .children li {
	margin-left: 14px;
}

.amc-widget_categories .children li:last-child,
.amc-widget_product_categories .children li:last-child,
.amc-widget_archive .children li:last-child {
	border-bottom: 0;
}

.amc-widget_pages ul,
.amc-widget_meta ul,
.amc-widget_recent_comments>ul,
.amc-widget_recent_entries>ul,
.amc-widget_rss>ul,
.amc-widget_nav_menu ul {
	list-style-type: none;
	list-style: none;
}

.amc-widget_pages>ul,
.amc-widget_meta>ul,
.amc-widget_recent_comments>ul,
.amc-widget_recent_entries>ul,
.amc-widget_rss>ul,
.amc-widget_nav_menu ul {
	padding-left: 0;
}

/* Page  */

.amc-widget_links,
.amc-widget_meta,
.amc-widget_recent_comments,
.amc-widget_recent_entries,
.amc-widget_rss,
.amc-widget_pages,
.amc-widget_nav_menu {
	color: $main_color;
}

.amc-widget_links li,
.amc-widget_meta li,
.amc-widget_recent_comments li,
.amc-widget_recent_entries li,
.amc-widget_rss li,
.amc-widget_pages li,
.amc-widget_nav_menu li {
	padding: 14px 0;
	margin-bottom: 14px;
	border-bottom: 1px solid #eee;
	padding-top: 0;
}

.amc-widget_links li:only-child,
.amc-widget_meta li:only-child,
.amc-widget_recent_comments li:only-child,
.amc-widget_recent_entries li:only-child,
.amc-widget_rss li:only-child,
.amc-widget_pages li:only-child,
.amc-widget_nav_menu li:only-child {
	border-bottom: 0;
	margin-bottom: 0;
}

.amc-widget_links li a:hover,
.amc-widget_meta li a:hover,
.amc-widget_recent_comments li a:hover,
.amc-widget_recent_entries li a:hover,
.amc-widget_rss li a:hover,
.amc-widget_pages li a:hover,
.amc-widget_nav_menu li a:hover {
	color: $second_color;
}

.amc-widget_links li>ul,
.amc-widget_meta li>ul,
.amc-widget_recent_comments li>ul,
.amc-widget_recent_entries li>ul,
.amc-widget_rss li>ul,
.amc-widget_pages li>ul,
.amc-widget_nav_menu li>ul {
	margin-top: 14px;
	padding-top: 14px;
	margin-bottom: -26px;
	border-top: 1px solid #eee;
}

.amc-widget_links li>ul li,
.amc-widget_meta li>ul li,
.amc-widget_recent_comments li>ul li,
.amc-widget_recent_entries li>ul li,
.amc-widget_rss li>ul li,
.amc-widget_pages li>ul li,
.amc-widget_nav_menu li>ul li {
	margin-left: 16px;
}

.amc-widget_links li>ul li:last-child,
.amc-widget_meta li>ul li:last-child,
.amc-widget_recent_comments li>ul li:last-child,
.amc-widget_recent_entries li>ul li:last-child,
.amc-widget_rss li>ul li:last-child,
.amc-widget_pages li>ul li:last-child,
.amc-widget_nav_menu li>ul li:last-child {
	border-bottom: 0;
}

.amc-widget_nav_menu li>ul ul {
	margin-bottom: -10px;
}

.amc-widget .wp-caption {
	padding: 0;
}

.amc-widget p {
	margin-bottom: 20px;
}

/* Sidebar */
.fancy-sidebar {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	visibility: hidden;
	height: 100%;
	padding: 20px;
	background: #f0f0f0;
	color: #fff;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	z-index: 9999999999;
}

.fancy-sidebar-content {
	width: 285px;
	height: 100%;
}

.fancy-sidebar-open .site-content {
	overflow-y: scroll;
}

.site-content {
	position: relative;
}

.fancy-sidebar-pusher {
	position: relative;
	left: 0;
	z-index: 99;
	height: 100%;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}

.fancy-sidebar-pusher::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	background: rgba(255, 255, 255, 0.6);
	content: "";
	opacity: 0;
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	z-index: 9999999999;
}

.fancy-sidebar-open .fancy-sidebar-pusher::after {
	width: 100%;
	height: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 9999999999;
}

.fancy-sidebar::after {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	content: "";
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	z-index: 9999999999;
}

.fancy-sidebar-open.fancy-sidebar::after {
	width: 0;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
	z-index: 9999999999;
}

.fancy-slide.fancy-sidebar {
	visibility: visible;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.fancy-sidebar-open {
	overflow-x: hidden;
}

.fancy-slide.fancy-sidebar-open {
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.fancy-slide.fancy-sidebar::after {
	display: none;
}

.wrap-push .fancy-sidebar-pusher {
	-webkit-transform: translate3d(-325px, 0, 0);
	transform: translate3d(-325px, 0, 0);
}

.fancy-push.fancy-sidebar {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}

.wrap-push .fancy-push.fancy-sidebar {
	visibility: visible;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.fancy-push.fancy-sidebar::after {
	display: none;
}

/* Sidebar */
