.single-container {
	.single-feat-image {
		width: 100%;
	}

	.featured-image {
		margin-bottom: 26px;
	}

	.single-main-area {
		padding-right: 45px;

		@include small {
			padding-right: 15px;
		}
	}

	.single-container-columns {
		display: flex;

		.post-categories {
			margin-bottom: 10px;

			a {
				font-size: 13px;
				color: #111111;
				letter-spacing: 0.7px;
				line-height: 22px;
				background: #eee;
				padding: 8px 10px 5px 10px;
				margin-right: 5px;
				text-transform: uppercase;
			}
		}

		.single-post-text-wrapper {
			display: flex;

		}

		.single-post-share {

			width: 100px;
			text-align: center;
			margin-top: 30px;

			@include small {
				display: none;
			}
		}

		.single-post-share .single-footer-share {
			display: flex;
			flex-flow: column;
		}

		.single-post-share .share-text {
			display: none;
		}

		.single-post-share i {
			font-size: 26px;
		}

		.single-post-share a {
			margin-bottom: 10px;
			display: inline-block;
		}

		.single-post-share .twitter i {
			color: #00acee;
		}

		.single-post-share .facebook i {
			color: #3a5998;
		}

		.single-post-share .linkedin i {
			color: #1979b6;
		}

		.single-post-share .pinterest i {
			color: #e90925;
		}

		.post-content {
			width: 100%;
		}

		.single-post-share+.post-content {
			width: calc(100% - 100px);

			@include small {
				width: 100%;
			}
		}
	}
}

.single-container {
	margin-top: 40px;
}

.single-top+.single-container {
	margin-top: 0;
}

.single .entry-title {
	font-size: $font_size_big;
	color: $main_color;
	letter-spacing: $letter_spacing_smaller;
	line-height: $line_height;
	font-style: italic;
}

.entry-content {
	margin-bottom: 40px;
	max-width: 650px;
}

.entry-content a {
	text-decoration: underline;
}

.entry-category a {
	font-weight: 500;
}

.entry-content .wp-block-button.alignleft,
.entry-content .wp-block-pullquote.alignleft {
	margin-left: 0;
}

.entry-content .wp-block-button.alignright,
.entry-content .wp-block-pullquote.alignright {
	margin-left: 0;
}

.entry-content .wp-block-button.alignnone,
.entry-content .wp-block-pullquote.alignnone {
	margin-left: 0;
	margin-right: 0;
	max-width: 100%;
	text-align: center;
}

.entry-content .alignleft {
	margin-left: -3%;
}

.entry-content .alignright {
	margin-right: -3%;
}

.entry-content .alignnone {
	margin-left: -10%;
	margin-right: -10%;
	max-width: calc(100% + 20%);
	text-align: center;
}

.single .entry-meta {
	margin: 10px 0 20px;
	display: inline-block;
	display: flex;
	align-items: center;
}

.blog-post-tag {
	border: dashed 2px #eee;
	padding: 30px;
	display: flex;
	justify-content: center;
	flex-flow: wrap;
}

.tags-title {
	text-transform: uppercase;
	margin-bottom: 20px;
	font-size: $font_size_small;
	letter-spacing: $letter_spacing_bigger;
	text-align: center;
	width: 100%;
}

.blog-post-tag a {
	background: #eeeeee;
	border-radius: 20px;
	padding: 10px 24px 8px;
	margin: 0 10px 10px 0;
	font-size: $font_size_small;
	font-weight: 600;
}

.entry-footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
}

.blog-post-comments {
	background: #f3f3f3;
	border-radius: 20px;
	font-size: $font_size_h6;
	padding: 8px 16px;
	text-transform: uppercase;
	letter-spacing: $letter_spacing_big;
}

.page-links a {
	font-weight: 700;
}

/* Entry Content */

.entry-content p:first-child {
	margin-top: 0;
}

.entry-content>*,
.comment-text-box>* {
	margin: 26px 0;
	max-width: 100%;
}

.entry-content ul li,
.comment-text-box ul li {
	margin-bottom: 20px;
}

.entry-content li ul li:first-child,
.comment-text-box li ul li:first-child {
	margin-top: 20px;
}

.wp-block-categories-list ul.children li:first-child {
	margin-top: 0;
}

.entry-content ol li,
.comment-text-box ol li {
	margin-bottom: 20px;
}

.entry-content li ol li:first-child,
.comment-text-box li ol li:first-child {
	margin-top: 20px;
}

.entry-content ul li:last-child,
.comment-text-box ul li:last-child {
	margin-bottom: 0;
}

.entry-content>*>*:first-child,
.comment-text-box>*>*:first-child {
	margin-top: 0;
}

.entry-content>*>*:last-child,
.comment-text-box>*>*:last-child {
	margin-bottom: 0;
}

.entry-content p.has-background {
	padding: 20px 30px;
}

.entry-content .wp-block-audio {
	width: 100%;
}

.entry-content .wp-block-audio audio {
	width: 100%;
}

.entry-content .wp-block-audio.alignleft audio,
.entry-content .wp-block-audio.alignright audio {
	max-width: 198px;
}

.entry-content .wp-block-video video {
	width: 100%;
}

.entry-content .wp-block-button .wp-block-button__link {
	transition: background 150ms ease-in-out;
	border: none;
	font-size: 0.88889em;
	font-family: $main_font;
	box-sizing: border-box;
	font-weight: bold;
	text-decoration: none;
	padding: 0.76rem 1rem;
	outline: none;
	outline: none;
}

.entry-content .wp-block-button .wp-block-button__link:not(.has-background) {
	background-color: $main_color;
}

.entry-content .wp-block-button .wp-block-button__link:not(.has-text-color) {
	color: white;
}

.entry-content .wp-block-button .wp-block-button__link:hover {
	color: white;
	background: $main_color;
	cursor: pointer;
}

.entry-content .wp-block-button .wp-block-button__link:focus {
	color: white;
	background: $main_color;
	outline: thin dotted;
	outline-offset: -4px;
}

.entry-content .wp-block-button:not(.is-style-squared) .wp-block-button__link {
	border-radius: 5px;
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link,
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus,
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:active {
	transition: all 150ms ease-in-out;
	border-width: 2px;
	border-style: solid;
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-background),
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-background),
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-background) {
	background: transparent;
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link:not(.has-text-color),
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:focus:not(.has-text-color),
.entry-content .wp-block-button.is-style-outline .wp-block-button__link:active:not(.has-text-color) {
	color: $main_color;
	border-color: currentColor;
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover {
	color: white;
	border-color: $main_color;
}

.entry-content .wp-block-button.is-style-outline .wp-block-button__link:hover:not(.has-background) {
	color: $main_color;
}

.entry-content .wp-block-archives,
.entry-content .wp-block-categories,
.entry-content .wp-block-latest-posts {
	padding: 0;
	list-style: none;
}

.entry-content .wp-block-archives li,
.entry-content .wp-block-categories li,
.entry-content .wp-block-latest-posts li {
	color: #767676;
	font-family: $main_font;
	font-size: $font_size_h4;
	font-weight: 700;
	line-height: $line_height_small;
	padding-bottom: 0.75rem;
	margin-bottom: 0;
}

ul.wp-block-latest-posts {
	list-style-type: none;
}

.wp-block-latest-posts a {
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.05);
	padding: 10px 14px 6px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	font-size: $font_size_h5;
}

.wp-block-latest-posts.is-grid a {
	margin-bottom: 0;
}

.entry-content .wp-block-archives li.menu-item-has-children,
.entry-content .wp-block-archives li:last-child,
.entry-content .wp-block-categories li.menu-item-has-children,
.entry-content .wp-block-categories li:last-child,
.entry-content .wp-block-latest-posts li.menu-item-has-children,
.entry-content .wp-block-latest-posts li:last-child {
	padding-bottom: 0;
}

.entry-content .wp-block-archives li a,
.entry-content .wp-block-categories li a,
.entry-content .wp-block-latest-posts li a {
	text-decoration: none;
}

.entry-content .wp-block-archives.aligncenter,
.entry-content .wp-block-categories.aligncenter {
	text-align: center;
}

.entry-content .wp-block-categories ul {
	padding-top: 0.75rem;
}

.entry-content .wp-block-categories li ul {
	list-style: none;
	padding-left: 0;
}

.entry-content .wp-block-categories ul {
	counter-reset: submenu;
}

.entry-content .wp-block-categories ul>li>a::before {
	font-family: $main_font;
	font-weight: normal;
	content: "– "counters(submenu, "– ", none);
	counter-increment: submenu;
}

.entry-content .wp-block-latest-posts.is-grid li {
	border-top: 2px solid #ccc;
	padding-top: 1rem;
	margin-bottom: 2rem;
}

.entry-content .wp-block-latest-posts.is-grid li a:after {
	content: "";
}

.entry-content .wp-block-latest-posts.is-grid li:last-child {
	margin-bottom: auto;
}

.entry-content .wp-block-latest-posts.is-grid li:last-child a:after {
	content: "";
}

.entry-content .wp-block-preformatted {
	font-size: $font_size_h6;
	line-height: $line_height_big;
	padding: 1rem;
}

.entry-content .wp-block-verse {
	font-family: $main_font;
	font-size: $font_size_h4;
	line-height: $line_height_big;
}

.entry-content .has-drop-cap:not(:focus):first-letter {
	font-family: $main_font;
	font-size: 3.375em;
	line-height: $line_height_smaller;
	font-weight: bold;
	margin: 0 0.25em 0 0;
}

.entry-content .wp-block-cover-image,
.entry-content .wp-block-cover {
	position: relative;
	min-height: 430px;
	padding: 1rem;
}

.entry-content .wp-block-cover-image .wp-block-cover-image-text,
.entry-content .wp-block-cover-image .wp-block-cover-text,
.entry-content .wp-block-cover-image h2,
.entry-content .wp-block-cover .wp-block-cover-image-text,
.entry-content .wp-block-cover .wp-block-cover-text,
.entry-content .wp-block-cover h2 {
	font-family: $main_font;
	font-size: 1.6875em;
	font-weight: 700;
	line-height: $line_height_small;
	padding: 0;
	color: #fff;
}

.entry-content .wp-block-cover-image.alignleft,
.entry-content .wp-block-cover-image.alignright,
.entry-content .wp-block-cover.alignleft,
.entry-content .wp-block-cover.alignright {
	width: 100%;
}

.entry-content .wp-block-gallery {
	list-style-type: none;
	padding-left: 0;
}

.entry-content .wp-block-gallery .blocks-gallery-image:last-child,
.entry-content .wp-block-gallery .blocks-gallery-item:last-child {
	margin-bottom: 16px;
}

.entry-content .wp-block-gallery figcaption a {
	color: #fff;
}

.entry-content .wp-block-audio figcaption,
.entry-content .wp-block-video figcaption,
.entry-content .wp-block-image figcaption,
.entry-content .wp-block-gallery .blocks-gallery-image figcaption,
.entry-content .wp-block-gallery .blocks-gallery-item figcaption {
	font-size: 0.71111em;
	font-family: $main_font;
	line-height: $line_height_big;
	margin: 0;
	padding: 0.5rem;
	text-align: center;
}

.entry-content .wp-block-separator,
.entry-content hr {
	background-color: #767676;
	border: 0;
	height: 2px;
	max-width: 2.25em;
	margin: 2em auto;
}

.entry-content .wp-block-separator.is-style-wide,
.entry-content hr.is-style-wide {
	max-width: 100%;
}

.entry-content .wp-block-separator.is-style-dots,
.entry-content hr.is-style-dots {
	max-width: 100%;
	background-color: inherit;
	border: inherit;
	height: inherit;
	text-align: center;
}

.entry-content .wp-block-separator.is-style-dots:before,
.entry-content hr.is-style-dots:before {
	color: #767676;
	font-size: 1.6875em;
	letter-spacing: 0.88889em;
	padding-left: 0.88889em;
}

.entry-content .wp-block-separator+h1:before,
.entry-content .wp-block-separator+h2:before,
.entry-content hr+h1:before,
.entry-content hr+h2:before {
	display: none;
}

.entry-content .wp-block-embed-twitter {
	word-break: break-word;
}

.entry-content .wp-block-file {
	font-family: $main_font;
}

.entry-content .wp-block-file .wp-block-file__button {
	display: table;
	transition: background 150ms ease-in-out;
	border: none;
	border-radius: 5px;
	background: #0073aa;
	font-size: 22px;
	font-family: $main_font;
	line-height: $line_height_small;
	text-decoration: none;
	font-weight: bold;
	padding: 0.75rem 1rem;
	color: #fff;
	margin-left: 0;
	margin-top: calc(0.75 * 1rem);
}

.entry-content .wp-block-file .wp-block-file__button:hover {
	background: #111;
	cursor: pointer;
}

.entry-content .wp-block-file .wp-block-file__button:focus {
	background: #111;
	outline: thin dotted;
	outline-offset: -4px;
}

.entry-content .wp-block-code {
	border-radius: 0;
}

.entry-content .wp-block-code code {
	font-size: 1.125em;
	white-space: pre-wrap;
	word-break: break-word;
}

.entry-content .wp-block-columns .wp-block-column>*:first-child {
	margin-top: 0;
}

.entry-content .wp-block-columns .wp-block-column>*:last-child {
	margin-bottom: 0;
}

.entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-meta {
	font-family: $main_font;
	font-weight: 700;
}

.entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-meta .wp-block-latest-comments__comment-date {
	font-weight: normal;
}

.entry-content .wp-block-latest-comments .wp-block-latest-comments__comment,
.entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-date,
.entry-content .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
	font-size: inherit;
}

.entry-content .wp-block-latest-comments.has-dates .wp-block-latest-comments__comment-date {
	font-size: 0.71111em;
}

.entry-content .has-small-font-size {
	font-size: 0.88889em;
}

.entry-content .has-normal-font-size {
	font-size: 1.125em;
}

.entry-content .has-large-font-size {
	font-size: 1.6875em;
}

.entry-content .has-huge-font-size {
	font-size: 2.25em;
}

.entry-content .has-primary-background-color,
.entry-content .has-secondary-background-color,
.entry-content .has-dark-gray-background-color,
.entry-content .has-light-gray-background-color {
	color: #fff;
}

.entry-content .has-primary-background-color>p,
.entry-content .has-primary-background-color>h1,
.entry-content .has-primary-background-color>h2,
.entry-content .has-primary-background-color>h3,
.entry-content .has-primary-background-color>h4,
.entry-content .has-primary-background-color>h5,
.entry-content .has-primary-background-color>h6,
.entry-content .has-primary-background-color>a,
.entry-content .has-secondary-background-color>p,
.entry-content .has-secondary-background-color>h1,
.entry-content .has-secondary-background-color>h2,
.entry-content .has-secondary-background-color>h3,
.entry-content .has-secondary-background-color>h4,
.entry-content .has-secondary-background-color>h5,
.entry-content .has-secondary-background-color>h6,
.entry-content .has-secondary-background-color>a,
.entry-content .has-dark-gray-background-color>p,
.entry-content .has-dark-gray-background-color>h1,
.entry-content .has-dark-gray-background-color>h2,
.entry-content .has-dark-gray-background-color>h3,
.entry-content .has-dark-gray-background-color>h4,
.entry-content .has-dark-gray-background-color>h5,
.entry-content .has-dark-gray-background-color>h6,
.entry-content .has-dark-gray-background-color>a,
.entry-content .has-light-gray-background-color>p,
.entry-content .has-light-gray-background-color>h1,
.entry-content .has-light-gray-background-color>h2,
.entry-content .has-light-gray-background-color>h3,
.entry-content .has-light-gray-background-color>h4,
.entry-content .has-light-gray-background-color>h5,
.entry-content .has-light-gray-background-color>h6,
.entry-content .has-light-gray-background-color>a {
	color: #fff;
}

.entry-content .has-white-background-color {
	color: $main_color;
}

.entry-content .has-white-background-color>p,
.entry-content .has-white-background-color>h1,
.entry-content .has-white-background-color>h2,
.entry-content .has-white-background-color>h3,
.entry-content .has-white-background-color>h4,
.entry-content .has-white-background-color>h5,
.entry-content .has-white-background-color>h6,
.entry-content .has-white-background-color>a {
	color: $main_color;
}

.entry-content .has-primary-background-color,
.entry-content .wp-block-pullquote.is-style-solid-color.has-primary-background-color {
	background-color: $main_color;
}

.entry-content .has-secondary-background-color,
.entry-content .wp-block-pullquote.is-style-solid-color.has-secondary-background-color {
	background-color: $main_color;
}

.entry-content .has-dark-gray-background-color,
.entry-content .wp-block-pullquote.is-style-solid-color.has-dark-gray-background-color {
	background-color: $main_color;
}

.entry-content .has-light-gray-background-color,
.entry-content .wp-block-pullquote.is-style-solid-color.has-light-gray-background-color {
	background-color: #767676;
}

.entry-content .has-white-background-color,
.entry-content .wp-block-pullquote.is-style-solid-color.has-white-background-color {
	background-color: #fff;
}

.entry-content .has-primary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-primary-color>p {
	color: $main_color;
}

.entry-content .has-secondary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-secondary-color>p {
	color: $main_color;
}

.entry-content .has-dark-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-dark-gray-color>p {
	color: $main_color;
}

.entry-content .has-light-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-light-gray-color>p {
	color: #767676;
}

.entry-content .has-white-color,
.entry-content .wp-block-pullquote.is-style-solid-color blockquote.has-white-color {
	color: #fff;
}

/* Media */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

embed,
iframe,
object {
	max-width: 100%;
}

svg {
	transition: fill 120ms ease-in-out;
	fill: currentColor;
}

.post-content .single-footer-share {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	margin-bottom: 40px;
}

.post-content .single-footer-share a {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: $font_size_h5;
	font-weight: 600;
	padding: 8px;
	color: #fff;
	border-radius: 20px;
	margin-right: 10px;
	line-height: 25px;
}

.post-content .single-footer-share.four a {
	margin-right: 0;
}

.post-content .single-footer-share.four a:nth-child(odd) {
	margin-right: 10px;
}

.post-content .single-footer-share.four a {
	width: calc(50% - 5px);
	margin-bottom: 10px;
}

.post-content .single-footer-share a:last-child {
	margin-right: 0;
}

.post-content .single-footer-share i {
	padding-right: 10px;
	font-size: $font_size_h3;
	line-height: 25px;
}

.share-icon {
	transform: translateY(3px);
}

.post-content .single-footer-share a.twitter {
	background: #00acee;
}

.post-content .single-footer-share a.facebook {
	background: #3a5998;
}

.post-content .single-footer-share a.linkedin {
	background: #1979b6;
}

.post-content .single-footer-share a.pinterest {
	background: #e90925;
}

// Icon Share

.single-footer-share.icon a i {
	font-size: $font_size_h3;
}

.single-footer-share.icon a.twitter {
	color: #00acee;
}

.single-footer-share.icon a.facebook {
	color: #3a5998;
}

.single-footer-share.icon a.linkedin {
	color: #1979b6;
}

.entry-meta span .single-footer-share.icon a {
	padding-right: 8px;
}

// Post Navigation

.single-top {
	position: relative;
}

.top-recent-post {
	position: relative;
}

.single-post-top-wrapper {
	align-items: center;
	background: #ffffff;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.08);
	box-sizing: content-box;
	height: 80px;
	display: flex;
}

.top-recent-post .single-top-post-thumb {
	flex-basis: 100px;
	min-width: 100px;
	height: 80px;
	background: #eee;
}

.top-recent-post .single-top-post-thumb img {
	width: 100px;
}

.top-recent-post .single-top-post-content {
	width: auto;
	padding: 0 15px;
	box-sizing: border-box;
}

.top-recent-post .single-top-post-meta {
	font-size: $font_size_small;
	color: $main_color;
	opacity: 0.5;
	margin-top: 4px;
}

.top-recent-post .single-top-post-content h6 {
	margin: 0;
	font-weight: 600;
	font-size: 12px;
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
	margin: 30px 0;
}

.owl-custom-next-nav {
	position: absolute;
	top: 54px;
	z-index: 999;
	cursor: pointer;
}

.owl-custom-next-nav,
.owl-custom-prev-nav {
	background: #eee;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
}

.owl-custom-next-nav svg g,
.owl-custom-prev-nav svg g {
	fill: #888;
}

.owl-custom-prev-nav {
	position: absolute;
	opacity: 0;
	top: 54px;
	left: -18px;
	z-index: 999;
	cursor: pointer;
	transition: opacity ease 0.2s;
}

.single-top:hover .owl-custom-prev-nav {
	opacity: 1;
}

.comments-blog-post-top {
	text-align: center;
	margin-top: 40px;
}

.comments-blog-post-top a,
.comments-blog-post-top .zero-comment {
	background: #f3f3f3;
	border-radius: 20px;
	font-size: $font_size_h6;
	padding: 8px 16px;
	text-transform: uppercase;
	letter-spacing: $letter_spacing_big;
}
