a {
	color: $main_color;
	transition: color 110ms ease-in-out;
}

a:hover,
a:active {
	color: $second_color;
	outline: 0;
	text-decoration: none;
}

a:focus {
	outline: thin;
	outline-style: dotted;
	text-decoration: underline;
}

p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

code,
kbd,
tt,
var {
	font-size: 0.88889em;
	font-family: Menlo, monaco, Consolas, Lucida Console, monospace;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

small {
	font-size: $font_size_h6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	font-weight: 700;
	color: $main_color;
}

h1 {
	font-size: $font_size_big;
	line-height: $line_height_smaller;
	letter-spacing: $letter_spacing_smaller;
}

h2 {
	font-size: $font_size_h2;
	line-height: $line_height;
	font-style: italic;
	letter-spacing: $letter_spacing_small;
}

h3 {
	font-size: $font_size_h3;
	line-height: $line_height;
	letter-spacing: $letter_spacing_small;
}

h4 {
	font-size: $font_size_h4;
	line-height: $line_height_big;
	letter-spacing: $letter_spacing_small;
}

h5 {
	font-size: $font_size_h5;
	line-height: $line_height_big;
	letter-spacing: $letter_spacing_small;
}

h6 {
	font-size: $font_size_h6;
	letter-spacing: $line_height;
}

ul.wp-block-categories-list,
.wp-block-categories__list,
ul.wp-block-categories-list li ul {
	list-style-type: none;
}
