// Color

$main_color: #001739;
$second_color: #f8162e;

// Typo

$main_font: "Poppins";

$font_size_big: 40px;
$font_size_h1: 32px;
$font_size_h2: 26px;
$font_size_h3: 21px;
$font_size_h4: 18px;
$font_size_h5: 15px;
$font_size_h6: 13px;
$font_size_small: 11px;

// Spacing

$margin_regular: 10px;
$margin_big: 20px;
$margin_huge: 60px;
$padding_regular: 20px;
$padding_big: 30px;
$mobile_width: 468px;
$tablet_width: 768px;
$desktop_width: 991px;

// Line Height

$line_height_smaller: 1.1;
$line_height_small: 1.2;
$line_height: 1.4;
$line_height_big: 1.6;
$line_height_bigger: 2;

// Letter Spacing

$letter_spacing_smaller: -1px;
$letter_spacing_small: -0.6px;
$letter_spacing: 0.6px;
$letter_spacing_big: 1px;
$letter_spacing_bigger: 2px;
// Global

@mixin small {
	@media (max-width: #{$mobile_width}) {
		@content;
	}
}

@mixin medium {
	@media (min-width: #{$mobile_width + 1}) and (max-width: #{$desktop_width}) {
		@content;
	}
}

@mixin small-medium {
	@media (max-width: #{$desktop_width}) {
		@content;
	}
}

@mixin medium_only {
	@media (min-width: #{$mobile_width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}

@mixin large {
	@media (min-width: #{$desktop_width}) {
		@content;
	}
}
