.wp-block {
  max-width: 850px !important;
  font-family: "Poppins";
  color: #001739;
  font-size: 15px;
  line-height: 1.4; }

@font-face {
  font-family: "mag";
  src: url("assets/fonts/mag.eot");
  src: url("assets/fonts/mag.eot?#iefix") format("embedded-opentype"), url("assets/fonts/mag.woff") format("woff"), url("assets/fonts/mag.ttf") format("truetype"), url("assets/fonts/mag.svg#mag") format("svg");
  font-weight: normal;
  font-style: normal; }
.wp-block a {
  color: #001739;
  font-weight: 700; }

.editor-post-title__block .editor-post-title__input {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 40px;
  color: #001739;
  letter-spacing: -1px;
  line-height: 1.4;
  font-style: italic; }

.wp-block > * {
  margin: 26px 0;
  max-width: 100%; }

.wp-block pre {
  padding: 20px;
  font-family: "Georgia", Courier, monospace;
  line-height: 1.4;
  overflow: auto;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.05); }

.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6 {
  font-weight: 700; }

.wp-block table {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08); }
  .wp-block table .wp-block-table__cell-content {
    padding: 0; }
  .wp-block table thead {
    border: 0;
    background: #001739;
    color: #fff;
    font-size: 15px;
    font-weight: 700; }
  .wp-block table td, .wp-block table th {
    padding: 20px 14px;
    border-color: #fff; }
  .wp-block table thead td, .wp-block table thead th {
    padding: 10px 0px; }
  .wp-block table tbody tr:nth-child(even) {
    background: #f8f8fc; }
  .sidebar .wp-block table td, .sidebar .wp-block table th {
    padding: 12px 9px; }

.wp-block h1 {
  font-size: 40px;
  line-height: 1.1;
  letter-spacing: -1px; }

.wp-block h2 {
  font-size: 26px;
  line-height: 1.4;
  font-style: italic;
  letter-spacing: -0.6px; }

.wp-block h3 {
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: -0.6px; }

.wp-block h4 {
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.6px; }

.wp-block h5 {
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: -0.6px; }

.wp-block h6 {
  font-size: 13px;
  letter-spacing: 1.4; }

.wp-block ul li {
  margin-bottom: 20px; }

.wp-block li ul li:first-child {
  margin-top: 20px; }

.wp-block ol li {
  margin-bottom: 20px; }

.wp-block li ol li:first-child {
  margin-top: 20px; }

.wp-block ul li:last-child {
  margin-bottom: 0; }

.editor-styles-wrapper {
  font-size: 18px;
  line-height: 1.4;
  color: #001739; }

.editor-styles-wrapper .wp-block-button a {
  text-decoration: none !important;
  font-size: 13px; }

.wp-block-categories-list a {
  background: #fff;
  color: #001739; }

.wp-block-subhead {
  color: #999; }

ul.wp-block-latest-posts {
  list-style-type: none;
  padding-left: 0; }

.wp-block-latest-posts a {
  margin-bottom: 10px;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px 14px 6px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  font-size: 15px; }

.wp-block-latest-posts.is-grid a {
  margin-bottom: 0; }

.wp-block blockquote:before {
  position: absolute;
  font-family: "mag";
  content: "\65";
  font-size: 75px;
  color: #001739;
  line-height: 1.1;
  top: 0;
  left: 0; }

.wp-block blockquote:after {
  position: absolute;
  font-family: "mag";
  content: "\65";
  font-size: 75px;
  line-height: 1.1;
  color: #f8162e;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #f8162e;
  margin-left: 4px;
  top: 4px;
  left: 0; }

.wp-block-quote {
  border: none; }

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
  font-weight: 700; }

.wp-block blockquote p,
.wp-block .wp-block-quote__citation {
  padding-left: 120px; }

.wp-block blockquote {
  font-size: 21px;
  line-height: 1.4;
  min-height: 75px; }

.wp-block .wp-block-quote__citation {
  font-weight: 700;
  color: #001739; }
