@import "_variables";

// Width of the Gutenberg Editor
.wp-block {
	max-width: 850px !important;
	font-family: $main_font;
	color: $main_color;
	font-size: $font_size_h5;
	line-height: $line_height;
}

@font-face {
	font-family: "mag";
	src: url("assets/fonts/mag.eot");
	src: url("assets/fonts/mag.eot?#iefix") format("embedded-opentype"),
		url("assets/fonts/mag.woff") format("woff"),
		url("assets/fonts/mag.ttf") format("truetype"),
		url("assets/fonts/mag.svg#mag") format("svg");
	font-weight: normal;
	font-style: normal;
}

.wp-block a {
	color: $main_color;
	font-weight: 700;
}

.editor-post-title__block .editor-post-title__input {
	font-family: $main_font;
	font-weight: 700;
	font-size: 40px;
	color: $main_color;
	letter-spacing: -1px;
	line-height: 1.4;
	font-style: italic;
}

.wp-block > * {
	margin: 26px 0;
	max-width: 100%;
}

.wp-block pre {
	padding: 20px;
	font-family: "Georgia", Courier, monospace;
	line-height: $line_height;
	overflow: auto;
	margin-bottom: 30px;
	background: rgba(0, 0, 0, 0.05);
}

.wp-block h1,
.wp-block h2,
.wp-block h3,
.wp-block h4,
.wp-block h5,
.wp-block h6 {
	font-weight: 700;
}

// Table
.wp-block table {
	width: 100%;
	margin-bottom: 30px;
	font-size: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);

	.wp-block-table__cell-content {
		padding: 0;
	}

	& thead {
		border: 0;
		background: $main_color;
		color: #fff;
		font-size: $font_size_h5;
		font-weight: 700;
	}

	& td,
	& th {
		padding: 20px 14px;
		border-color: #fff;
	}

	& thead td,
	& thead th {
		padding: 10px 0px;
	}

	& tbody tr:nth-child(even) {
		background: #f8f8fc;
	}

	.sidebar & td,
	.sidebar & th {
		padding: 12px 9px;
	}
}

.wp-block h1 {
	font-size: $font_size_big;
	line-height: $line_height_smaller;
	letter-spacing: $letter_spacing_smaller;
}

.wp-block h2 {
	font-size: $font_size_h2;
	line-height: $line_height;
	font-style: italic;
	letter-spacing: $letter_spacing_small;
}

.wp-block h3 {
	font-size: $font_size_h3;
	line-height: $line_height;
	letter-spacing: $letter_spacing_small;
}

.wp-block h4 {
	font-size: $font_size_h4;
	line-height: $line_height_big;
	letter-spacing: $letter_spacing_small;
}

.wp-block h5 {
	font-size: $font_size_h5;
	line-height: $line_height_big;
	letter-spacing: $letter_spacing_small;
}

.wp-block h6 {
	font-size: $font_size_h6;
	letter-spacing: $line_height;
}

.wp-block ul li {
	margin-bottom: 20px;
}

.wp-block li ul li:first-child {
	margin-top: 20px;
}

.wp-block ol li {
	margin-bottom: 20px;
}

.wp-block li ol li:first-child {
	margin-top: 20px;
}

.wp-block ul li:last-child {
	margin-bottom: 0;
}

.editor-styles-wrapper {
	font-size: $font_size_h4;
	line-height: $line_height;
	color: $main_color;
}

.editor-styles-wrapper .wp-block-button a {
	text-decoration: none !important;
	font-size: $font_size_h6;
}

.wp-block-categories-list a {
	background: #fff;
	color: $main_color;
}

.wp-block-subhead {
	color: #999;
}

ul.wp-block-latest-posts {
	list-style-type: none;
	padding-left: 0;
}

.wp-block-latest-posts a {
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.05);
	padding: 10px 14px 6px;
	border-radius: 3px;
	display: inline-block;
	text-decoration: none;
	font-size: $font_size_h5;
}

.wp-block-latest-posts.is-grid a {
	margin-bottom: 0;
}

.wp-block blockquote:before {
	position: absolute;
	font-family: "mag";
	content: "\65";
	font-size: 75px;
	color: $main_color;
	line-height: $line_height_smaller;
	top: 0;
	left: 0;
}

.wp-block blockquote:after {
	position: absolute;
	font-family: "mag";
	content: "\65";
	font-size: 75px;
	line-height: $line_height_smaller;
	color: $second_color;
	-webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: $second_color;
	margin-left: 4px;
	top: 4px;
	left: 0;
}

.wp-block-quote {
	border: none;
}

.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-weight: 700;
}

.wp-block blockquote p,
.wp-block .wp-block-quote__citation {
	padding-left: 120px;
}

.wp-block blockquote {
	font-size: 21px;
	line-height: $line_height;
	min-height: 75px;
}

.wp-block .wp-block-quote__citation {
	font-weight: 700;
	color: $main_color;
}
