@media only screen and (max-width: 1440px){

}

@media only screen and (min-width: 1400px){

}

@media only screen and (min-width: 1200px){

}

@media only screen and (max-width: 1200px){

}

@media only screen and (max-width: 991px){

}

@media only screen and (min-width: 768px) and (max-width: 990px){

}

@media only screen and (min-width: 768px) and (max-width: 1200px){

}

@media only screen and (max-width: 767px){

}

@media only screen and (max-width: 479px) {

}