.rAds{display: none !important;visibility: hidden;}
a.toplevel_page_amc .wp-menu-image img{width: 16px;}
#adminmenu .wp-menu-image img {width: 16px;}
.rwmb-media-status{visibility: hidden;}
#widgets{background: none !important;}
.widget-option.widget-contract, .widget-option.widget-expand{display: none !important;}

.elementor-control-elementor_container_width{display: none;}